@use "variables" as *;


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background: linear-gradient(to left, #2c3e50 , rgb(222, 220, 233));
  color: aliceblue;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  &__social {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__icon {
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.09);
      filter: brightness(1.1) drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    }
  }

  &__text {
    font-size: 0.8rem;
    font-weight: bold;
    color: aliceblue;
  }
}